.navigation-nav {
  background-color: #fff;
  height: 89px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10rem;
  position: fixed;
  top: -1px;
  z-index: 1000;
  overflow: hidden;
}
.navigation-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-nav ul li {
  list-style: none;
  padding: 0 1rem;
}
.navigation-nav ul li a {
  text-decoration: none;
  color: #333;
}
.menu {
  display: none;
  cursor: pointer;
}
.listmenu-mobile {
  width: 100%;
  position: absolute;
  top: 90px;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  .navigation-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  nav ul {
    width: 100%;
    position: absolute;
    top: 90px;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: block;
  }

}
